.footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .footer-section{
    width: 100%;
    max-width: 200px;
  }
  .footer-section img{
    margin: 0 auto;
    width: 50px;
  }
  
  .copyright {
    font-size: 18px;
  }