/* src/styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo a {
  color: #123524;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.logo-img {
  width: 50px;
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: #123524;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #27ae60;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 50px;
}
.profile-img img{
  width: 100%;
  border-radius: 50%;
}

.profile-img:hover {
  color: #27ae60;
}

.level-progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.level-text {
  color: #123524;
  font-weight: bold;
  font-size: 1rem;
}

.level-bar {
  width: 100px; /* Fixed width for consistency */
  height: 10px;
  background-color: #e0e0e0; /* Light gray background */
  border-radius: 5px;
  overflow: hidden;
}

.level-fill {
  height: 100%;
  background-color: #27ae60; /* Green fill matching your theme */
  transition: width 0.3s ease; /* Smooth fill animation */
}

.login-btn{
  background-color: white;
  color:#123524;
  margin-right: 10px;
}
.signup-btn{
  background-color: #123524;
  color: white;
  transition: all 0.3s ease;
}
.login-btn:hover{
  background-color: #123524;
  color: white;
}
.signup-btn:hover{
  background-color: white;
  color:#123524
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}